@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  font-family: 'Varela Round', sans-serif; }

.text-white {
  color: #fff; }

.header {
  background: #F3317A;
  height: 908px;
  position: relative; }
  .header--curve::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 100%;
    background-color: white;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); }
  .header .container-l {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px; }
  .header .hamburger-icon {
    all: unset;
    width: 30px;
    height: 30px; }
    .header .hamburger-icon img {
      width: 100%; }
  .header__content {
    margin-top: 50px; }
  .header__title {
    font-size: 90px;
    color: #515151; }
    .header__title .text-small {
      font-size: 60px; }
  .header__cta {
    font-size: 25px;
    color: #fff; }

.card-section {
  margin-top: -200px; }
  .card-section__container {
    position: relative; }
  .card-section .card {
    background: #707070;
    width: 523px;
    height: 350px;
    position: absolute;
    box-shadow: 10px 10px  0px #eaeaea52; }
    @media (max-width: 1200px) {
      .card-section .card {
        position: static; } }
    @media (min-width: 1200px) {
      .card-section .card:nth-child(1) {
        background: #B6B6B6;
        left: 0;
        margin-top: 0%; }
      .card-section .card:nth-child(2) {
        background: #B6B6B6;
        left: 0;
        margin-top: 30%; }
      .card-section .card:nth-child(3) {
        background: #B6B6B6;
        left: 0;
        margin-top: 60%; }
      .card-section .card:nth-child(4) {
        background: #B6B6B6;
        left: 0;
        margin-top: 90%; }
      .card-section .card:nth-child(5) {
        background: #B6B6B6;
        left: 0;
        margin-top: 120%; }
      .card-section .card:nth-child(6) {
        background: #B6B6B6;
        left: 0;
        margin-top: 150%; }
      .card-section .card:nth-child(7) {
        background: #B6B6B6;
        left: 0;
        margin-top: 180%; }
      .card-section .card:nth-child(1) {
        background: #707070;
        margin-top: 0%;
        right: 0;
        left: auto; }
      .card-section .card:nth-child(3) {
        background: #707070;
        margin-top: 60%;
        right: 0;
        left: auto; }
      .card-section .card:nth-child(5) {
        background: #707070;
        margin-top: 120%;
        right: 0;
        left: auto; }
      .card-section .card:nth-child(7) {
        background: #707070;
        margin-top: 180%;
        right: 0;
        left: auto; } }

.container-l {
  width: 100%;
  max-width: 1233px;
  margin-inline: auto; }

.container {
  max-width: 1010px;
  width: 100%;
  margin-inline: auto; }

footer {
  width: 100%;
  background: #515151;
  height: 328px;
  position: relative; }
  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: white;
    background: url("/assets/images/curve.png");
    background-size: cover;
    background-position: left; }
